<html>

<head>
    <meta charset="utf-8">
    <title>MarketGame</title>
    <link rel="stylesheet" type="text/css" href="./../../public/StyleSheets/MarketScreen.css">
</head>

<body>
    <div class="card-header"></div>
    <div class="scene">
        <div class="drop">
            <div class="drop-bg"></div>
            <div class="drop-frame">
                <div class="paid">
                    <span id="paid"> paid</span>
                </div>
            </div>
            <div class="slot empty" style="top : 300px; left: 76px " )></div>
            <div class="slot empty" style="top : 300px; left: 265px " )></div>
            <div class="slot empty" style="top : 244px; left: 166px " )></div>
            <div class="slot empty" style="top : 191px; left: 77px " )></div>
            <div class="slot empty" style="top : 191px; left: 256px " )></div>
            <div class="slot empty" style="top : 140px; left: 166px " )></div>
            <div class="button button-active">
                <div class="buy">Buy</div>
            </div>
        </div>
        <div class="icon">

        </div>
        <div class="product">

        </div>
    </div>

</body>

</html>