<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Math Learning : MarketGame</title>
    <link rel="stylesheet" type="text/css" href="./../../public/StyleSheets/MarketScreen.css">
    <script src="./../../public/javascript/marketScreen.js"></script>
</head>

<body>
    <div class="card-header">
        <div class="back-button">
            <a href="/" class="back-link">
                <div class="point-back"></div>
                Back
            </a>
        </div>
        <div class="header-title"> Buy a treat with 10 coins</div>
    </div>
    <div class="taskScore-frame"> </div>
    <div class="task-score" id="task-score">
        <!-- To do by js file -->
        <div class="task-1" id="task-1"></div>
        <div class="task-2" id="task-2"></div>
        <div class="task-3" id="task-3"></div>
        <div class="task-4" id="task-4"></div>
        <div class="task-5" id="task-5"></div>
    </div>

    <div class="scene">
        <div class="task">
            Buy The
            <span id="nameProduct"> </span>
        </div>
        <div class="row">
            <div class="drop-coin" id="drop-coin" s id="drop-coin">
            </div>
            <div class="drop " id="drop">
                <div class="drop-bg" id="drop-bg"></div>
                <div class="drop-frame" id="drop-frame">
                    <div class="paid" id="paid">
                        <span class="textPaid"> paid</span>
                    </div>
                </div>
                <div class="button button-active" id="myBtn" style="border-radius: 20px;opacity: 100%;">
                    <div class="buy">Buy</div>
                </div>

            </div>
            <div class="product" id="product">
                <div class="price" id="price" style=" position: absolute;left: 150px;top: 300px;border-radius: 50%;width: 150px; height: 150px; background-color: rebeccapurple; text-align: center;z-index: 10;">
                    <div style="padding-top: 40px ; font-size: 35px; font-family: Arial, Helvetica, sans-serif;color: white;">Price
                        <br> 10
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script>
        loadGame();
    </script>

</body>

</html>