<!DOCTYPE html>
<html>

<head>
    <title> UFO Game</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./../../public/StyleSheets/UFOScreen.css">
    <script src="./../../public/javascript/UFOScreen.js "></script>
</head>

<body onload="loadDb()">
    <div class="card-header "></div>
    <div class="screen ">
        <div class="background-frame ">
            <div class="ufo " id="ufo">
                <div class="ray" id="ray"></div>
                <div class="bubble">
                    <span class="title-bubble"> 10</span>
                </div>
            </div>
            <div class="drag-screen " id="coins">

            </div>
            <div class="drag-screen " id="coinsDrop">

            </div>
        </div>
    </div>
</body>

</html>