<!DOCTYPE html>
<html>

<head>
    <title>Day la tieu de</title>
</head>

<body>
    Day la noi dung
    <!-- <div id="a" style="color : red"> Day la the div</div> -->
    <button id="btn1" onclick="clicked()"> click</button>

    <p id="a">Hello World!</p>
    <p id="p1">Hello World!</p>
    <div id="d">nguyen tiep </div>

    <script>
        document.getElementById("d").style.color = "blue";
        document.getElementById("d").style.fontFamily = "Arial";
        document.getElementById("d").style.fontSize = "larger";

        function clicked() {
            var tag = document.createElement("div");
            tag.innerText = "abc";
            var a = document.getElementById("d");
            a.appendChild(tag)
        }
    </script>

    <p>The paragraph above was changed by a script.</p>
</body>