
html(lang = "en")
    head
        meta(charset = "utf-8")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        style
            include ./../public/StyleSheets/Home.css
    head
    body
        div.banner 
        nav.navbar.navbar-expand-sm#nav-main
            a(href="#" , style = " color : black;text-decoration : none; font-size:25px").nav-branch Math Learning
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="#">Main page</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">My classes</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Portfolio</a>
                </li>
            </ul>
        //- img(src= "./../public/image/Game-1/board.jpg")
        section.main
            div.row
                div.col-sm-4
                    div.menu
                        div.back-item Back
                        div.frame-menu.rounded
                            div.item-menu 
                                a(href="#").menu-item Numbers
                            div.item-menu(style= "background-color : #61b9f0")
                                a(href="#").menu-item Operations
                            div.item-menu
                                a(href="#").menu-item Geometry
                            div.item-menu 
                                a(href="#").menu-item Measurement
                            div.item-menu 
                                a(href="#").menu-item Measurement
                            div.item-menu(style= "border-top : 0.1px solid #929292")
                                a(href="#" ).menu-item Secret Lab
                div.col-sm-7
                    div.breadcrumb
                    div.title-lesson
                        span.title-lesson Addition without regrouping
                    div.lesson-card
                        div.item-lesson
                            a(href="#").lesson-link
                                div.lesson-preview 
                                    div.img-game
                                        img(src="./../public/image/Game-1/UFO-face.png", alt="face-1").rounded
                                    div.name-lesson UFO.Episode 1
                        div.item-lesson
                            a(href="#").lesson-link
                                div.lesson-preview   
                                    div.img-game 
                                        img(src="./../public/image/Game-2/face-2.png", alt="face-2").rounded
                                    div.name-lesson Buy a treat with 10 coin



        //- todo
    body
html