<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="./../public//image/iconhead.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../public/StyleSheets/Home.css">
    <title>Math Learning : Home</title>
</head>

<body>

    <section class="main">
        <div class="row">
            <div class="col-sm-4">
                <div class="menu">
                    <div class="back-item"> Back</div>
                    <div class="frame-menu rounded">
                        <div class="item-menu">
                            <a href="/"> Numbers</a>
                        </div>
                        <div class="item-menu">
                            <a href="/"> Operations </a>
                        </div>
                        <div class="item-menu">
                            <a href="/"> Geometry</a>
                        </div>
                        <div class="item-menu">
                            <a href="/"> Measurement</a>
                        </div>
                        <div class="item-menu" style="border-top : 0.1px solid #929292">
                            <a href="/"> Secret Lab </a>
                        </div>
                    </div>
                </div>
            </div>
            <col-sm-7>
                <div class="breadcrumb"></div>
                <div class="title-lesson">
                    <span class="title-lesson"> Addition without regrouping</span>
                </div>
                <div class="lesson-card">
                    <div class="item-lesson">
                        <a href="/screen/UFOSCreen" class="lesson-link">
                            <div class="lesson-preview">
                                <div class="img-game">
                                    <img src="./../public/image/Game-1/UFO-face.png" alt="face-1" class="rounded">
                                </div>
                                <div class="name-lesson"> UFO.Episode 1 </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-lesson">
                        <a href="/screen/MarketScreen" class="lesson-link" method="GET">
                            <div class="lesson-preview">
                                <div class="img-game">
                                    <img src="./../public/image/Game-2/face-2.png" , alt="face-2" class="rounded">
                                </div>
                                <div class="name-lesson"> Buy a treat with 10 coin </div>
                            </div>
                        </a>
                    </div>
                </div>
            </col-sm-7>
        </div>
    </section>
</body>

</html>