<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        
        Bây giờ là như này
        Va bay gio co cac việc nhu sau
        views thì viết ở đây
        con về phần lấy dữ liệu ra thì lấy ở phần model(tự tạo)
        và bây giờ là tạo 1 branch
        adsasdad
    </body>
</html>