body {
    margin: 0;
}

.card-header {
    width: 98%;
    height: 50px;
    position: absolute;
    margin-left: 1%;
}

.header-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.point-back {
    width: 12px;
    height: 12px;
    border-top: 2px solid blue;
    border-left: 2px solid blue;
    transform: rotate(-45deg);
    display: inline-block;
}

.back-button {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    /* border: red solid 1px; */
}

.back-link {
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

.back-link:hover {
    text-decoration: underline;
    color: red;
}

.screen {
    width: 1500;
    height: 700px;
    background-color: gray;
    padding: 0;
    padding-left: 120px;
}

.background-frame {
    background-image: url("./../../public/image/Game-1/board.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1300px;
    height: 700px;
    background-position: 0px -200px;
}

.ufo {
    background-image: url('./../../public/image/Game-1/uf0.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 419px;
    height: 155px;
    margin-left: 450px;
    position: absolute;
    margin-top: 20px;
    animation-name: moveUFO;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes moveUFO {
    0% {
        top: 0px;
    }
    50% {
        top: 30px;
    }
    100% {
        top: 0px;
    }
}

@keyframes StaticUFO {}

.ray {
    background-image: url('./../../public/image/Game-1//ray.png');
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    margin-left: 80px;
    position: absolute;
    opacity: 0;
    transition-duration: 2s;
}

.bubble {
    background-image: url('./../../public/image/Game-1/task_bubble.png');
    width: 229px;
    height: 127px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    right: -200px;
    top: 50px;
    line-height: 125px;
}

.title-bubble {
    font-family: Arial;
    color: white;
    font-size: 90px;
    position: absolute;
    left: 80px;
}

.drag-screen {
    width: 800px;
    height: 450px;
    position: absolute;
    left: 400px;
    bottom: 80px;
}


/* set up css to coin  */

.coin {
    background-color: #43c6d1;
    width: 85px;
    height: 85px;
    position: absolute;
    border-radius: 50%;
    border: solid 7px #43c6d1;
    cursor: grab;
    top: 200px;
    left: 100px;
    font-family: Cambria;
    font-size: 50px;
    text-align: center;
    line-height: 90px;
    z-index: 1;
}

.coin:hover {
    background-color: aqua;
    border: whitesmoke 7px solid;
    z-index: 10;
}

.hight-blue {
    background-color: aqua;
    border: solid whitesmoke 7px;
}

.Wrong {
    background-color: red;
    border: solid red 7px;
    width: 300px;
    border-radius: 50px;
    letter-spacing: 8px;
}

.True {
    background-color: aqua;
    width: 320px;
    border-radius: 50px;
    letter-spacing: 10px;
    border: #99FF33 7px solid;
}

.active {
    background-color: aqua;
    border: whitesmoke 7px solid;
    width: 300px;
    border-radius: 50px;
    letter-spacing: 10px;
}

.Calculation {
    background-color: aqua;
    height: 85px;
    position: absolute;
    font-family: Cambria;
    font-size: 50px;
    text-align: center;
    line-height: 90px;
    z-index: 10;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes moveCoinToUFO {
    0% {
        top: 30px;
        left: 190px;
        width: 320px;
        height: 85px;
        font-size: 50px;
        background-color: yellow;
        border: yellow 7px solid;
    }
    100% {
        top: -100px;
        left: 370px;
        width: 0px;
        height: 0px;
        font-size: 00px;
        background-color: yellow;
        line-height: 0px;
        border: yellow 1px solid;
        letter-spacing: 0px;
    }
}

.task-score-tag {
    width: 1550px;
    top: 50px;
    height: 10px;
    position: absolute;
    z-index: 10;
}

.task-score-frame {
    width: 99%;
    height: 10px;
    position: absolute;
    background-color: black;
    opacity: 0.1;
}

.task-score {
    width: 99%;
    height: 10px;
    position: absolute;
    opacity: 1;
}

.task-1 {
    width: 19.5%;
    height: 10px;
    float: left;
    margin-left: 10px;
    border-right: black solid 1px;
    border-left: green solid 5px;
    transition: background-color 1s;
}

.task-2 {
    width: 19.5%;
    height: 10px;
    float: left;
    border-right: black solid 1px;
    transition: width 2s;
    transition: background-color 1s;
}

.task-3 {
    width: 19.5%;
    height: 10px;
    float: left;
    border-right: black solid 1px;
    transition: width 2s;
    transition: background-color 1s;
}

.task-4 {
    width: 19.5%;
    height: 10px;
    float: left;
    border-right: black solid 1px;
    transition: width 2s;
    transition: background-color 1s;
}

.task-5 {
    width: 19.5%;
    height: 10px;
    float: left;
    border-right: black solid 1px;
    transition: background-color 1s;
}