<!DOCTYPE html>
<html>

<head>
    <script src="./../../public/javascript/home.js"></script>
</head>

<body>
    <h1>

    </h1>
    <script>
        var arr = []
        var a = "<%=question.name %>"
        var b = [<%=question.user%>]
        arr.push({
            name: "nguyeen thai tiep",
            pass: b
        })

        document.write(arr[0])
        load(arr[0])
    </script>
</body>

</html>