<!DOCTYPE html>
<html>

<head>
    <script src="./../../public/javascript/home.js"></script>
</head>

<body>
    <h1>

    </h1>
    <script>
        var a = [<%=question.coins[0] %>]
        document.writeln("<%=question.coins[0].number %>");
    </script>
</body>

</html>